/*------------------------------------*\
	$SEARCH-FORM ELEMENTS
\*------------------------------------*/

.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}