/*------------------------------------*\
	$INLINE-SEARCH-RESULTS-FORM ELEMENTS
\*------------------------------------*/

.inline-search-results-form {
	width: 100%;
	@media all and (min-width: $bp-med) {
		width: 82%;
	}

	fieldset, .inline-container {
		position: relative;
	}

	input[type=submit], button {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;
	}
}