/*------------------------------------*\
	$BLOCK-HERO ELEMENTS
\*------------------------------------*/

.block-hero {
	margin-bottom: $space-half;

	.b-thumb {
		img {
			display: block;
		}
	}

	@media all and (min-width: $bp-large) {
		position: relative;

		.b-text {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $dim;
			color: $white;
			padding: $pad-and-half;
		}
	}
}