/*------------------------------------*\
	$FLOAT CLASSES
\*------------------------------------*/

/* Floats */
.right {
	float: right;
	padding: 0 0 $pad $pad;
}

.right-search {
	float: right;
	padding: 0 0 $pad 0;
}

.left {
	float: left;
	padding: 0 $pad $pad 0;
}