/*------------------------------------*\
	$FORMS
\*------------------------------------*/

form > div {
	margin-bottom: $space;
}

form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}