/*------------------------------------*\
	$SEARCH ELEMENTS
\*------------------------------------*/
input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}