/*------------------------------------*\
	$INLINE-FORM-SEARCH-SUBMIT ELEMENTS
\*------------------------------------*/

.inline-form .search-submit {
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid $gray-light-3;
	color: $gray;
}