/*------------------------------------*\
	$HORIZONTAL-RULE ELEMENTS
\*------------------------------------*/

hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}